@import "https://fonts.googleapis.com/css?family=Poiret+One|Source+Code+Pro";
* {
  box-sizing: border-box; }

.ui-widget {
  background: white;
  color: black;
  font-family: "Source Code Pro", monospace; }

.ui-datepicker {
  margin-left: -1rem;
  margin-top: 1rem; }
  @media only screen and (min-width: 700px) {
    .ui-datepicker {
      margin-left: 0rem; } }

.ui-widget-header {
  background: white; }

body {
  padding: 0;
  margin: 0;
  background-color: black;
  color: white;
  font-size: 100%;
  font-family: "Poiret One", cursive; }

.wrapper {
  min-height: 100vh;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center; }

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: auto; }
  @media only screen and (min-width: 1920px) {
    main {
      width: 80%; } }

header {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  align-items: center;
  padding: 1rem 0rem;
  margin: auto;
  max-width: 95%; }
  @media only screen and (min-width: 700px) {
    header {
      width: 100%;
      justify-content: space-between;
      flex-wrap: nowrap; } }
  @media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (-webkit-min-device-pixel-ratio: 2) {
    header {
      width: 100%; } }
  @media only screen and (min-width: 1366px) {
    header {
      width: 80%; } }
  @media only screen and (min-width: 1600px) {
    header {
      width: 70%; } }

#toggle-content {
  background: transparent;
  border: transparent;
  border-radius: 2.5rem;
  width: 4.5rem;
  height: 4rem;
  cursor: pointer; }
  #toggle-content:focus {
    outline: 0;
    border: 2px solid white; }
  @media only screen and (min-width: 700px) {
    #toggle-content {
      order: -1; } }

.fa-info-circle {
  color: white;
  animation: pulse 2s ease-out 2s infinite; }

#heading {
  text-shadow: 0 1px 1px black;
  flex-basis: 80%;
  text-align: center;
  margin: 1rem;
  font-size: 2.1rem; }
  @media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (-webkit-min-device-pixel-ratio: 2) {
    #heading {
      font-size: 2.5rem; } }
  @media only screen and (min-width: 1366px) {
    #heading {
      flex-basis: 70%; } }

#datepicker {
  text-align: center;
  padding: .5rem;
  max-width: 9rem;
  font-size: 1rem;
  color: white;
  background: transparent;
  border-radius: .2rem;
  border: .15rem solid white;
  font-family: "Poiret One", cursive;
  font-weight: 600;
  letter-spacing: .1rem;
  cursor: pointer;
  margin: 0; }
  @media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (-webkit-min-device-pixel-ratio: 2) {
    #datepicker {
      max-width: 12rem;
      padding: .5rem;
      font-size: .9rem; } }

#toggle-hd {
  background: transparent;
  border: transparent;
  color: white;
  font-family: "Poiret One", cursive;
  font-size: 2rem;
  font-weight: 600;
  margin: 0 .5rem; }
  @media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (-webkit-min-device-pixel-ratio: 2) {
    #toggle-hd {
      margin: 0 1rem; } }
  #toggle-hd:hover {
    cursor: pointer; }
  #toggle-hd.clicked {
    background: white;
    color: black; }

.content {
  display: flex;
  flex-direction: column;
  padding: 0 1rem 2.5rem;
  background: rgba(0, 0, 0, 0.4);
  border: 0.1rem solid rgba(0, 0, 0, 0.1);
  border-radius: 1rem;
  margin: auto;
  margin-top: 2rem;
  padding-bottom: 2rem;
  margin-bottom: 3rem;
  width: 90%; }
  @media only screen and (min-width: 700px) {
    .content {
      width: 95%; } }
  @media only screen and (min-width: 1366px) {
    .content {
      width: 80%; } }
  @media only screen and (min-width: 1600px) {
    .content {
      width: 70%; } }

#content_title {
  text-align: center;
  font-size: 2rem; }

#content_info {
  margin: auto;
  max-width: 90%;
  text-align: center;
  line-height: 1.6rem;
  font-size: 1.3rem;
  letter-spacing: .1rem;
  margin-top: 1.5rem;
  font-weight: 600;
  font-family: "Poiret One", cursive; }

#copyright {
  text-align: center;
  margin-top: 4rem;
  font-weight: 600;
  font-size: 1.2rem; }

#nasa-link {
  margin-top: 1rem;
  align-self: center;
  text-align: center; }
  #nasa-link img {
    max-width: 50%; }

::-webkit-input-placeholder {
  color: white; }

::--moz-input-placeholder {
  color: white; }

@-webkit-keyframes pulse {
  0% {
    transform: scale(1); }
  50% {
    transform: scale(0.9); }
  100% {
    transform: scale(1); } }
@-moz-keyframes pulse {
  0% {
    transform: scale(1); }
  50% {
    transform: scale(0.9); }
  100% {
    transform: scale(1); } }
@-ms-keyframes pulse {
  0% {
    transform: scale(1); }
  50% {
    transform: scale(0.9); }
  100% {
    transform: scale(1); } }
@-o-keyframes pulse {
  0% {
    transform: scale(1); }
  50% {
    transform: scale(0.9); }
  100% {
    transform: scale(1); } }
@keyframes pulse {
  0% {
    transform: scale(1); }
  50% {
    transform: scale(0.9); }
  100% {
    transform: scale(1); } }

